/* page loader */
.loading-screen{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background: rgba(var(--mdb-success-rgb), 1);
}
.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transition-delay: 0.7s;
}

/* data loader*/
.data-loader{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(var(--mdb-success-rgb), 0.4);
}